.o_hr_payroll_dashboard_sheet{
    .col {
        .o_hr_payroll_dashboard_block.o_hr_payroll_dashboard_todo {
            min-height: 350px;
            height: 100%;
            position: absolute;
            width: 100%;

            .content {
                height: calc(100% - 10px);
                padding: 0px;

                p {
                    margin: 0px;
                }

                button {
                    padding-right: 0%;
                    padding-left: 0%;
                }

                table {
                    width: 100%;
                    table-layout: fixed;

                    tr:first-child {
                        background-color: lightgray;
                        th {
                            border: 1px solid lightgray;
                            border-color: lightgray;
                        }
                    }

                    tr:not(:first-child) {
                        td {
                            border: 1px solid lightgray;
                            border-color: lightgray;

                            button {
                                margin: auto;
                            }
                        }
                    }
                }
            }

            .o_hr_payroll_todo_tabs {
                border-bottom: 1px solid lightgray;
                font-size: 0;

                .o_hr_payroll_todo_tab::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: auto;
                    width: 3px;
                }

                @include o-kanban-record-color;
            }

            .o_hr_payroll_todo_tab {
                position: relative;
                display: inline-block;
                height: 30px;
                min-width: 60px;
                border: 1px solid lightgray;
                border-left: none;
                margin-bottom: -1px;
                padding-right: 4px;
                padding-left: 4px;
                vertical-align: middle;
                cursor: pointer;
                text-align: center;

                h3 {
                    color: #6c757d;
                    margin-top: 4px;
                }

                &.active  {
                    background-color: $o-enterprise-color;
                    h3 {
                        color: white;
                    }
                }
                &:not(.active):not(.o_hr_payroll_todo_create) {
                    background-color: $o-gray-100;
                }

            }

            .o_hr_payroll_todo_value {
                height: calc(100% - 30px);
                overflow: auto;
            }

            .o_hr_payroll_todo_value >:not(.note-editable){
                padding-right: 10px;
                padding-left: 10px;
                overflow-wrap: break-word;
            }

            .o_hr_payroll_todo_tab.selected {
                background-color: lightgray !important;
            }

            .o_hr_payroll_todo_create {
                min-width: 30px;

                span {
                    margin-top: 8px;
                    font-size: 14px;
                }
            }
        }
    }
}
