.o_hr_skills_group {
    .o_appraisal_overlay {
        z-index: 100;
    }

    .o_appraisal_blur {
        overflow: hidden;
    }

    .o_appraisal_skill {
        .o_skill_sample_row {
            opacity: 0.5;
            overflow: hidden;

            .o_skill_sample_text {
                display: inline-block;
                background-color: #ccc;
                height: 1em;
            }

            .o_skill_sample_progress {
                display: inline-block;
                background-color: $o-enterprise-primary-color;
                height: 1em;
            }
        }
        .o_group_name>.o_field_x2many_list_row_add {
            float: right;
            @include media-breakpoint-down(lg) {
                float: none;
                margin-left: 16px;
            }
        }
    }
}

.o_appraisal_skill_report.o_list_view {
    .o_list_table {
        .o_percentage_cell {
            text-align: left !important;
        }
    }
}
